<div class="text-layout">
  <!-- Cuando estan las [] se identifica que esta intentando enlazar un propiedad que debe estar creada en el modulo-->
  <p-menubar [model]="items">
    <img src="./favicon.ico">
  </p-menubar>
</div>
