<div class="text-layout">
  <h1>Pipes no tan Comunes</h1>
  <p>pipes incluidos en Angular - Usualmente en el Common Module</p>
</div>

<div class="grid">
  <div class="col p-md-6 p-sm-9">
    <p-fieldset legend="i18nSelect Pipe" [toggleable]="true">
      <p>Saludos {{nombre}}, es un placer {{genero| i18nSelect:invitacion}} a nuestro evento.</p>
      <button pButton type="button" label="Click" (click)="cambiarnombre()" class="p-button-help"></button>
    </p-fieldset>
  </div>
  <div class="col p-md-6 p-sm-9">
    <p-fieldset legend="i18nPlural Pipe" [toggleable]="true">
      <p>Actualmente tenemos {{clientes.length | i18nPlural:clientesMap}}.</p>
      <p-button type="button" label="Click" (onClick)="quitarDatos()"></p-button>
    </p-fieldset>
  </div>

  <div class="col p-md-6 p-sm-9">
    <p-fieldset legend="Slice Pipe" [toggleable]="true">
      <b>Orginal</b>
      <pre>{{clientes}}</pre>
      <b>Slice 0:2</b>
      <pre>{{clientes | slice:0:2}}</pre>
      <b>Slice 1:2</b>
      <pre>{{clientes | slice:1:2}}</pre>
      <b>Slice 1:3</b>
      <pre>{{clientes | slice:1:3}}</pre>
      <b>Slice string</b>
      <pre>{{'Gustavo' | slice:0:3}}</pre>
    </p-fieldset>
  </div>

  <div class="col p-md-6 p-sm-9">
    <p-fieldset legend="KeyValue Pipe" [toggleable]="true">
      <ul>
        <li *ngFor="let item of persona | keyvalue">
          <b>{{item.key | titlecase}}:</b> {{item.value}}
        </li>
      </ul>
    </p-fieldset>
  </div>

  <div class="col p-md-6 p-sm-9">
    <p-fieldset legend="JsonPipe" [toggleable]="true">
      <pre>{{heroes | json}}</pre>
    </p-fieldset>
  </div>

  <div class="col p-md-6 p-sm-9">
    <p-fieldset legend="Async Pipe" [toggleable]="true">
      <pre>{{miObserbale | async}}</pre>
      <pre *ngIf="!(valorPromesa | async)">Resolviendo promesa</pre>
      <pre>{{valorPromesa|async}}</pre>
    </p-fieldset>
  </div>
</div>
