<div class="text-layout">
  <h1>Pipes Personalizados</h1>
  <p>pipes creados por {{ 'nosotros' | mayusculas:enMayusculas }}</p>
</div>


<p-toolbar>
  <div class="p-toolbar-group-left">
  </div>

  <div class="p-toolbar-group-right">
    <button pButton label="Cambiar" (click)="cambiar()" class="mr-1 p-button-warning"></button>
    <!-- para poner iconos se debe poner pi pi- el que sse va a mostrar -->
      <button pButton label="Por nombre" class="mr-1" icon="pi pi-sort" (click)="cambiarOrden('nombre')"></button>
      <button pButton label="Por Vuela" class="mr-1 p-button-success" icon="pi pi-sort" (click)="cambiarOrden('vuela')"></button>
      <button pButton label="Por Color" class="mr-1 p-button-help" icon="pi pi-sort" (click)="cambiarOrden('color')"></button>
  </div>
</p-toolbar>
<!-- tabla con pipe personalizado -->
<div class="grid">
  <div class="col mt-2">
    <!-- en [value] se envia la data de la tabla -->
    <!-- pipe ordenar se pone en la variable que se le pasa a la tabla -->
    <p-table [value]="heroes | ordenar:ordenarPor" [tableStyle]="{'min-width': '50rem'}">
      <ng-template pTemplate="header">
          <tr>
              <th>Nombre</th>
              <th>Vuela</th>
              <th>Color</th>
          </tr>
      </ng-template>
      <!-- se pone cualquier nombre en let- para que lo tome del arreglo que le enviamos a la tabla -->
      <ng-template pTemplate="body" let-heroe>
          <tr>
              <td>{{heroe.nombre}}</td>
              <!-- se pueden encadenar varios pipes -->
              <td>{{heroe.vuela | vuela | titlecase}}</td>
              <td>{{heroe.color}}</td>
          </tr>
      </ng-template>
  </p-table>
  </div>
</div>
<!-- tabla con el sort de primeNG -->
<div class="grid">
  <div class="col mt-2">
    <!-- en [value] se envia la data de la tabla -->
    <!-- pipe ordenar se pone en la variable que se le pasa a la tabla -->
    <!-- le enviamos una copia al arreglo para que no lo modfique mediante el slice porque se veia afectada la tabla de arriba -->
    <p-table [value]="heroes | slice:0" [tableStyle]="{'min-width': '50rem'}">
      <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="nombre" style="width:20%">Nombre <p-sortIcon field="nombre"></p-sortIcon></th>
            <th pSortableColumn="vuela" style="width:20%">Vuela <p-sortIcon field="vuela"></p-sortIcon></th>
            <th pSortableColumn="color" style="width:20%">Color <p-sortIcon field="color"></p-sortIcon></th>
          </tr>
      </ng-template>
      <!-- se pone cualquier nombre en let- para que lo tome del arreglo que le enviamos a la tabla -->
      <ng-template pTemplate="body" let-heroe>
          <tr>
              <td>{{heroe.nombre}}</td>
              <!-- se pueden encadenar varios pipes -->
              <td>{{heroe.vuela | vuela | titlecase}}</td>
              <td>{{heroe.color}}</td>
          </tr>
      </ng-template>
  </p-table>
  </div>
</div>

